# Secrets must NOT be quoted.

# We use a fixed (static) wallet mnemonic for simplicity. Signed API (1) is configured to only allow pushes from this
# Airnode.
AIRNODE_WALLET_MNEMONIC=artwork head deal walnut online memory okay ring tower doll cube fix
# NOTE: Ask for this privately if you don't have and want to run this.
NODARY_API_KEY=
# NOTE: Use "host.docker.internal" if using Docker for Desktop.
LOCALHOST_IP=localhost
