# NOTE: Keep in sync with .gitignore.
#
# From: https://shisho.dev/blog/posts/how-to-use-dockerignore/
#
# In .gitignore, the file or directory name is ignored in any hierarchy below the .gitignore file, but in .dockerignore,
# all paths must be relative to the way where .dockerignore is located. However, in .dockerignore, all paths must be
# listed relative to the path.
**/.build
**/.env
**/.idea
**/.log
**/.tsbuildinfo
**/.vscode
**/build
**/dist
**/node_modules
**/coverage
**/.DS_Store
**/airseeker.json
**/secrets.env
**/.eslintcache

# Hardhat files
**/cache
**/artifacts
**/coverage.json
**/typechain

# NOTE: Typechain types are copied to the Docker image to avoid building them from inside the container, because for
# that it needs to download the solidity compiler which breaks when building the linux/amd64 image from macOS.
# **/typechain-types
