LOGGER_ENABLED=true
LOG_COLORIZE=true
LOG_FORMAT=pretty
LOG_LEVEL=info
LOG_HEARTBEAT=true

# Only needed when deploying Api3ServerV1BuilderTipExtension, see `contracts/README.md`.
MNEMONIC=
ETHERSCAN_API_KEY=
